.distance {
  z-index: 100;
  position: absolute;
  top: 18px;
  left: 100px;
  display: inline-block;
  border: solid #707070 1px;
  border-radius: 5px;
  color: white;
  background-color: #a0a0a0a0;
  font-style: serif;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 5px 15px;
}
